/*header portion*/ 
      header {
        background-image: url("https://mocah.org/uploads/posts/5402702-hand-hold-fern-leaf-plant-green-sunlight-shadow-dark-beauty-light-of-the-sun-sun-light-human-hand-fine-art-nature-forest-black-background-black-pteridophytum-catch-public-domain-images.jpg");
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding-bottom: 20px;
        font-size: 22px;
        /*filter:drop-shadow(8px 8px 10px black);*/
      }

      .TextAnimationh1 {
        color: white;
        font-family: "'Cabin', sans-serif;";
       
        font-size: 22px;
        filter: drop-shadow(8px 8px 10px black);
      }
      
      .startleaningbutton {
        background-color:#FFBF00;
        color: black;
        filter: drop-shadow(8px 8px 10px black);
        border-radius: 8px;
        border-style:none;
        padding: 10px;
        margin-top:20px;
        transition: 0.5s;
        cursor: pointer;
        justify-content:left;
      }

     
      .Courseheading {
        margin-left: 1.5em;
      }
      .Courseheading h1 {
        font-size: 16px;
        font-weight: bold;
      }
     
    #mobile-toggle-button {
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    color: rgba(0,0,0,.5);
    font-size: 15px;
    padding: 5px;
    width: 30px;
}
      @media screen and (max-width:670px){
        .helements{
          font-size:22px;
        }
        
      }
      
      .sidenav {
    height: 100%;
   /* width: 0;*/
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    border-left: 1px solid #e5e5e5;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0,0,0,.5);
    display: block;
    transition: 0.3s;
}
.searchmobile {
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 0.7rem;
    font-size: 18px;
    background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2px 10px 6px 10px;
  /*  -webkit-transition: width 0.4s ease-in-out;*/
    transition: width 0.4s ease-in-out;
    margin-top: 14px;
}
/*End of header*/


/*Start of menubar Style*/

      @media (min-width: 992px) {
        .menu-container {
          margin-top: 63px;
        }
      }
      .menu-container {
        left: -30rem !important;
        top: 40px;
        right: 0 !important;
        margin: auto;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        width: 964px;
        height: 548px;
        z-index: 999999;
      }
  .megamenuhide {
        display: none !important;
      }
      .menu {
        background: #EBF5FB;
        width: 240px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }

      
      .menu h4 {
        font-weight: 500;
        color: #272c37;
        margin: 32px 0 16px 0;
        text-transform: uppercase;
        padding: 0;
        /* font-size: 14px;*/
        line-height: normal;
      }
      .visible-sm {
        display: none;
      }
      .menu li.active {
        color: #0f77df;
        font-weight: 500;
        background: #fff;
        cursor: pointer;
      }

      .menu li.active a {
        color: #51565e;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        display: block;
      }
      @media (min-width: 992px) {
        .menu li.menu-item.active .menu-cat {
          color: #1179ef;
        }    
        .menu li.active a.menu-cat {
          line-height: 36px;
          margin-bottom: 0;
          font-weight: 500;
          color: #1179ef;
          position: relative;
        }
    
      }

      li.active .sub-menu {
        width: 830px;
        height: 100%;
        overflow: visible;
        cursor: initial;
      }
     

      .menu li {
        color: #51565e;
        line-height: 32px;
        font-size: 12px;

        background-color: transparent;
        list-style: none;
      }
      .menu li.pull-left li {
        padding: 0;
        width: 100%;
      }
      @media (min-width: 992px) {
        .menu li.pull-right {
          width: calc(100% - 225px);
          padding-right: 15px;
        }
      }

      @media (min-width: 992px) {
        .menu .unversity-wrap {
          width: 242px;
          float: right;
          padding-left: 4px;
        }
      }
      @media (min-width: 992px) {
        .menu .univ-list {
          padding-right: 0;
          padding-left: 0px;
        }
       
      }
      .menu .univ-list a {
        /* display: inline-block;*/
         background: #fff;
         margin-top: 8px;
        /* margin-bottom: 0;*/
         padding: 10px;
         box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
         border-radius: 4px;
         position: relative;
     }
     .menu .univ-list .uni-logo {
      width: 70px;
      height: 70px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #d2d6de;
      display: inline-block;
      border-radius: 2px;
  }
  .menu .univ-list .univ-info {
    width: calc(100% - 70px);
    display: inline-block;
    padding-left: 16px;
    vertical-align: top;
}
@media (max-width: 991px){
.menu .univ-list .univ-info h5 {
    font-size: 14px;
}}

      .menu .univ-list {
        display: block;
        max-width: 425px;
      }

      @media (min-width: 992px) {
        .menu .univ-list a {
          background: #ebf1f8;
          border-radius: 4px;
          box-shadow: none;
        }
      }

      .menu .univ-list a {
        /*  display: inline-block;
    background: #fff;*/
        margin-top: 8px;
        /*  margin-bottom: 0;*/
        padding: 10px;
        /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;*/
        position: relative;
      }
      .menu li.active .menu-master-prg a.master-link {
        padding: 0;
        margin: 0;
      }
     

      .menu li.active .menu-master-prg a img {
        position: relative;
        left: 0;
        background-color: transparent;
        vertical-align: middle;
        display: inline-block;
      }
      .menu-master-prg img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
      .menu li.active .menu-master-prg a span {
        display: inline-block;
        width: calc(100% - 45px);
        vertical-align: middle;
        color: #272c37;
        line-height: 1.5;
      }
      @media (min-width: 992px) {
        .menu-master-prg a span {
          font-size: 12px;
          font-weight: 500;
          /*color: #51565e;
        line-height: 1.5;*/
        }
      }
      .menu-master-prg ul {
        font-weight: 400;
        position: relative;
        padding-left: 45px;
        font-size: 12px;
        display: block;
        overflow: hidden;
      }

      .menu li.active .menu-master-prg ul li {
        color: #848da0;
        line-height: 1.5;
      }

      .menu-master-prg ul li {
        position: relative;
        /* padding-top: 4px !important;*/
        padding-bottom: 4px !important;
      }

      .menu li.active .menu-master-prg ul li {
        color: #848da0;
        line-height: 1.5;
      }
      .menu-master-prg ul li {
        position: relative;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
      }
      .menu li.active .menu-master-prg ul li b {
        color: #51565e;
      }

      @media (min-width: 992px) {
        .menu li.active .menu-master-prg {
          padding-left: 0;
          padding-right: 21px;
          margin-top: 24px;
        }
      }

      .menu li.active .menu-master-prg {
        /*  margin-top: 32px;*/
        display: inline-block;
        clear: both;
        overflow: hidden;
        float: left;
      }
      @media (min-width: 992px) {
        .menu .univ-list .uni-logo {
          background: #fff;
          border: 0px;
        }
      }
      .menu .univ-list {
        display: block;

        max-width: 425px;
      }
      .menu .univ-list a {
        margin-top: 8px;

        position: relative;
      }

      .menu .univ-list .uni-logo {
        width: 70px;
        height: 70px;
        text-align: center;
        vertical-align: middle;
        padding-top: 15px;
        /* border: 1px solid #d2d6de;*/
        display: inline-block;
        border-radius: 2px;
      }
      .menu .univ-list .uni-logo img {
        max-width: 100%;
      }

      @media (min-width: 992px) {
        .menu .univ-list .univ-info {
          padding-left: 10px;
        }
      }

      .menu .univ-list .univ-info {
        width: calc(100% - 70px);
        display: inline-block;
        vertical-align: top;
        float: right;
      }
      .menu .univ-list .univ-info h5 {
        font-size: 12px;
        line-height: 1.5;
        color: #272c37;
        font-weight: 500;
      }
      .menu .univ-list .univ-info span {
        font-size: 12px;
        color: #51565e;
        line-height: 1.4;
       /* margin-top: 16px;*/
        display: inline-block;
      }
      .menu h4 {
        font-weight: 500;
        color: #272c37;
        margin: 32px 0 16px 0;
        text-transform: uppercase;
        padding: 0;
        font-size: 14px;
        line-height: normal;
    }
    @media (max-width: 991px){
.menu .univ-list .univ-info h5 {
    font-size: 14px;
}}
.menu li.active .menu-master-prg a {
  position: relative;
  padding-left: 0;
  /*margin-bottom: 12px;*/
}
@media (max-width: 991px){
.menu-master-prg a span {
    font-size: 14px;
    font-weight: 400;
}
.menu li.active .menu-master-prg a span {
  color: #51565e;
}
}
      @media (min-width: 992px) {
        ul.menu li.category-btn {
          width: auto;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      @media (min-width: 992px) {
        .menu li.category-btn {
          margin-bottom: 20px;
          margin-right: 20px;
          padding: 0;
        }
      }
      .menu li.category-btn {
        text-align: center;
        margin-bottom: 25px;
        margin-right: 150px;
        width: 100%;
      }
      @media (min-width: 992px) {
        .menu li.category-btn a {
          margin-bottom: 30px;
        }
      }
      .menu li.category-btn a {
        /* border-radius: 2px;*/
        font-size: 14px;
        /*  display: block;
    background: rgba(0,0,0,0);*/
        color: #1179ef;
        text-transform: uppercase;
        /* text-align: center;
    width: auto;*/
        box-shadow: none;
        /* border: 1px solid #1179ef;*/
        cursor: pointer;
        /* line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;*/
        background: #fff;
        display: inline-block;
        line-height: 40px;
        width: 250px;
        border-radius: 2px;
        border: 1px solid #1179ef;
        font-weight: 500;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: 992px) {
        .menu li.menu-item .menu-cat {
          color: #51565e;
        }
      }
      @media (max-width: 991px){
.menu {
    width: 100%;
    background: #fff;
}}
     
@media (max-width: 991px){
.menu li.menu-item::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://www.simplilearn.com/ice9/assets/megamenu_1.svgz) no-repeat;
    background-position: -128px -18px;
    position: absolute;
    right: 20px;
    transition: all .2s ease;
    top: 11px;
}
}
      @media (min-width: 992px) {
        .menu a.menu-cat {
          line-height: 36px;
        }
      }

      .sub-menu {
        border: 0 !important;
        left: 240px;
        background: #FBFCFC ;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        overflow: hidden;
      }
      @media (min-width: 992px) {
        .menu li.pull-left {
          width: 225px;
        }
      }

      .sub-menu li {
        float: left;
        display: inline-block;
        /* width: 1
        00%;*/
      }
      @media (min-width: 992px) {
        .menu li.active .sub-menu-item a {
          padding: 8px 0;
          margin-bottom: 0;
        }
      }
      .menu li.pull-left li {
        padding: 0;
        width: 100%;
      }
      .menu li.pull-left ul {
        padding: 0;
      }
      @media (min-width: 992px) {
        .menu .master-wrap {
          width: 242px;
          float: left;
        }
      }
      .menu li.active .menu-master-prg:first-of-type {
        margin-top: 8px;
      }

      @media (min-width: 992px) {
        .menu li.active .menu-master-prg {
          padding-left: 0;
          padding-right: 21px;
          margin-top: 24px;
        }
      }

      .menu-master-prg ul {
        font-weight: 400;
        position: relative;
        padding-left: 45px;
        font-size: 12px;
        display: block;
        overflow: hidden;
      }
      @media (min-width: 992px) {
        .menu .univ-list {
          padding-right: 0;
          padding-left: 0px;
        }
      }
      @media (min-width: 992px) {
        .menu li.pull-right {
          width: calc(100% - 225px);
          padding-right: 15px;
        }
      }

      .menu li.pull-right {
        /*  width: 58.333%;*/
        padding-left: 0;
      }
    
      @media (max-width: 991px){
.menu-overlay {
    background: rgba(0,0,0,0.6);
  
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99999999;
    width: 100%;
    bottom: 0;
}
.first-menu {
    overflow-y: auto;
    background: #fff;
    padding: 0;
    margin-bottom: 0;
    width: calc(100% - 50px);
    display: inline-block;
    height: 100%;
}
.first-menu ul li.menu-head, .menu li.menu-head {
    padding-top: 0;
    padding-bottom: 0;
    color: #272c37;
    background: #ebf1f8;
    border: 1px solid #dde6ed;
    line-height: 46px;
}


.first-menu ul li {
    padding: 0;
    padding-right: 20px;
}

.menu-head {
    text-align: center;
    font-size: 14px !important;
    font-weight: 500;
    margin: 0px 0 20px 0;
    position: relative;
    width: 100%;
}

.visible-sm {
    display: inline-block;
}
.menu-head span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(https://www.simplilearn.com/ice9/assets/megamenu_1.svgz) no-repeat;
  background-position: -14px -11px;
  position: absolute;
  left: 15px;
  top: 8px;
}
.first-menu ul li span.mobile-all-courses {
  line-height: normal;
  position: relative;
}
.first-menu ul li a, .first-menu ul li span.mobile-all-courses {
  padding: 10px 20px;
  color: #272c37;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}

.menu-container {
  width: 100%;
  border-radius: 0px;
  height: 100%;
  overflow-y: auto;
  top: 0;
  position: fixed;
  z-index: 99999999;
}
.menu {
  width: 100%;
  background: #fff;
}
.menu h4 {
  width: 100%;
}
.first-menu ul li.menu-head, .menu li.menu-head {
  padding-top: 0;
  padding-bottom: 0;
  color: #272c37;
  background: #ebf1f8;
  border: 1px solid #dde6ed;
  line-height: 46px;
}
.menu-head span.menu-close-btn {
  right: 15px;
  left: inherit;
  background-position: -93px -11px;
  width: 20px;
}
.menu li.menu-item {
  position: relative;
  margin: 0;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  clear: both;
  line-height: normal;
}
.menu li.menu-item .menu-cat {
  font-size: 14px;
  line-height: normal;
  color: #51565e;
  padding: 13px 0;
  display: inline-block;
  width: 100%;
}

.first-menu ul li.menu-head, .menu li.menu-head {
    padding-top: 0;
    padding-bottom: 0;
    color: #272c37;
    background: #ebf1f8;
    border: 1px solid #dde6ed;
    line-height: 46px;

}

.menu li.menu-item.active {
  padding-bottom: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1;
  padding-top: 50px;
  background: #f3f6f8;
}
.menu li.menu-item.active .menu-cat {
  margin: 0;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  color: #272c37;
  padding: 0;
  padding-left: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
li.active .sub-menu {
  width: 100%;
  left: 0;
  position: relative;
  display: inline-block;
  background: #f3f6f8;
  margin-top: 0px;
  float: left;
}
.menu li.pull-left {
  display: table-footer-group;
  padding: 0;
}
.menu li.pull-left, .menu li.pull-right {
  width: 100%;
  float: none;
}
.menu .col-md-5.pull-left h4 {
  margin-top: 48px;
}
.menu h4 {
  width: 100%;
}
.menu li.pull-left ul {
  display: inline-block;
  padding: 0 5px;
}
.menu li.pull-left ul li a {
  position: relative;
  margin: 0;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  color: #51565e;
  line-height: 1.67;
}
.menu li.pull-right {
  display: table-header-group;
}
.menu li.pull-left, .menu li.pull-right {
  width: 100%;
  float: none;
}
.unversity-wrap {
  margin-bottom: 16px;
}

.menu .univ-list .univ-info span {
  font-size: 12px;
}
.menu li.active .menu-master-prg:first-of-type {
  margin-top: 8px;
}

.menu li.active .menu-master-prg {
    width: 100%;
    max-width: 425px;
    float: left;
    
}
.menu li.active .menu-master-prg a.master-link {
  background: #fff;
  padding: 14px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 10px;
  height:65px;
}

.menu li.active .menu-master-prg a {
  display: block;
  margin: 0;
  margin-bottom:25px;
  margin-left:15px;
  position:relative;
  margin-top:-58px;
}
.menu li.active .menu-master-prg ul {
  display: none;
}
.menu-master-prg ul li {
 
  display: inline-block;
  font-weight: 400;
 
}
.menu li.category-btn {
  padding-top: 32px;
  padding-bottom: 25px;
}
.menu li.menu-item {
  position: relative;
  margin: 0;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  clear: both;
  line-height: normal;
}
.menu li.menu-item .menu-cat {
  font-size: 14px;
  line-height: normal;
  color: #51565e;
  padding: 13px 0;
  display: inline-block;
  width: 100%;
}
.menu li.pull-left {
  display: table-footer-group;
  padding: 0;
}
.menu li.pull-left, .menu li.pull-right {
  width: 100%;
  float: none;
}
.menu .col-md-5.pull-left h4 {
  margin-top: 48px;
}
.menu li.pull-left ul li a {
  position: relative;
  margin: 0;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  color: #51565e;
  line-height: 1.67;
}
.menu li.menu-item.active .menu-cat::before {
  content: "";
  width: 20px;
  height: 24px;
  display: inline-block;
  background: url(https://www.simplilearn.com/ice9/assets/megamenu_1.svgz) no-repeat;
  background-position: -14px -11px;
  position: absolute;
  left: 15px;
  top: 8px;
}

}
.menu-master-prg ul li::before {
  width: 5px;
  height: 5px;
  background: #848da0;
  padding: 0;
  border-radius: 50%;
  left: -30px;
  position: absolute;
  margin-top: 8px;
  content: "";
  display: inline-block;
  z-index: 1;
}
.menu-master-prg ul li::after {
  width: 1px;
  content: "";
  display: inline-block;
  background: #d2d6de;
  position: absolute;
  left: -28px;
  bottom: -15px;
  z-index: 0;
  top: 12px;
}
.menu-master-prg ul li:last-child::after {
  display: none;
}

/*End of Menubar*/



/*Starting of Login Form*/
@media only screen and (max-width: 767px){
    .right-con-hed .form-control {
     height: 45px;
   padding-left: 45px;
     }
  }
 .newform{
   height:100%;
   width:100%;
   border:1px solid white;
   padding:10px;
   border-radius:25px;
 }
  
element.style {
}
@media only screen and (max-width: 767px){
.right-con-hed .form-control {
height: 45px;
padding-left: 45px;
}}
.right-con-hed img {
position: absolute;
left: 40px;
width: 24px;
text-align: center;
top: 50%;
transform: translate(0, -50%);
}
.imgss {
max-width: 100%;
height: auto;
vertical-align: top;
}
.right-con-hed .form-control {
border-radius: 0;
box-shadow: initial;
height: 40px;
padding-left: 55px;
background-repeat: no-repeat;
border: 1px solid #eceaee;
background-position: 20px center;
font-size: 14px;
}
.form-control {
display: block;
width: 100%;

padding: 5px 10px;

line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;

transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input {
-webkit-writing-mode: horizontal-tb !important;
text-rendering: auto;

letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;

text-align: start;
appearance: textfield;

-webkit-rtl-ordering: logical;
cursor: text;

}

@media only screen and (max-width: 767px){
.right-con-hed input[type="submit"] {
white-space: initial;
font-size: 18px;
padding: 10px;
font-weight: 400;
width: 100%;
}}
/*End Of Login Form*/


/*Menu key features to*/

@media only screen and (max-width: 670px){
#menu{
  display: none;
}
}
.btn1 {
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: #ff8000;
  color: #fff;
  border-radius:5px;
  border: none;
  text-decoration: none;
  padding:6px 48px 6px 48px;
  cursor: pointer;

}
#menu {
  padding: 15px 0;
  box-shadow: 0 2px 5px #ccc;
  z-index: 3;
  background: #fff;
}
#menu .menu-item a {
  text-decoration: none;
  color: #212529;
  font-size: 14px;
}
.online-bootcamp {
  margin-top:10px;
  background: #ebf1f8;
  padding-bottom: 10px;
}
@media (min-width: 992px){
.banner .col-md-8 {
    width: calc(100% - 312px);
    display: inline-block;
    vertical-align: top;
    float: left;
}}
@media (min-width: 992px){
.banner .master-bootcamp {
    max-width: 670px;
    padding-right: 30px;
    vertical-align: middle;
}}
@media (min-width: 768px){
.online-bootcamp {
    padding-bottom: 10px;
}}


.enroll-now .enroll-price {
  letter-spacing: 1px;
  color: #51565e;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.enroll-now p {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: #51565e;
}
.enroll-now .no-cost-emi .btn-link {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  display: inline-block;
  color: #1179EF;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}

.btnenrollnowcourse {
  display: inline-block;
  width: 100%;
  line-height: 38px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 48px;
  color: #fff;
  text-align: center;
  background: #ff8000;
  max-width: 246px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.about-course ul li {
  font-size: 14px;
  color: rgba(0,0,0,.7);
  padding: 5px;
  list-style: disc;
  margin-left: 50px;
}
.cta {
  padding-top: 1rem;
  text-align: center;
}
.btn6 {
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background:#056;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 45px;
  transition: .3s;
  border-radius: 3px;

}
.master-bootcamp h2 {
padding-top:18px;
  color: #272c37;
  font-size:21px;
  text-align:center;
}



#course .query-form {
  background:#056;
}
.newform {
  color: grey;
  font-family: "Open Sans",Sans-serif;
  border-radius: 8px;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: -.3px;
  background: white;
  padding: 20px;
}
/*Frequently Brought together*/
.city-list li {
  padding: 3px 10px;
  color: #333;
  font-size: 14px;
  margin: 10px;
  background: #fbf9f9;
  border: 1px solid #f6f4f4;
  box-shadow: 2px 5px 3px #e9e9e9;
  display: inline-block;
}
.city-list ul li {
  position: relative;
}
#other-cities ul li a {
  text-decoration: none;
  color: #212529;
  font-size: 14px;
}
#other-cities ul li a:hover{
  color:#de002e;
}

#other-cities ul li a:before {
  position: absolute;
  left: 1px;
  top: 0px;
  background: radial-gradient(circle at 28% 36%, #ed82fd, #d550ca);
  width: 3px;
  height: 33px;
  content: "";
}
#other-cities ul li:nth-child(2) a:before {
  background-image: radial-gradient(circle at 28% 6%, #00dcc3, #00bba6);
}
#other-cities ul li:nth-child(4) a:before {
  background-image: radial-gradient(circle at 30% 36%,#5594a8, #2ebf91);
}
#other-cities ul li:nth-child(5) a:before {
  background-image: radial-gradient(circle at 50% 36%,#f4992f,#ebc918);
}
#other-cities ul li:nth-child(6) a:before {
  background-image: radial-gradient(circle at 28% 6%, #00dcc3, #00bba6);
}
#other-cities ul li:nth-child(9) a:before {
  background-image: radial-gradient(circle at 30% 36%,#5594a8, #2ebf91);
}
#other-cities ul li:nth-child(7) a:before {
  background-image: radial-gradient(circle at 50% 36%,#f4992f,#ebc918);
}
#other-cities ul li:nth-child(10) a:before {
  background-image: radial-gradient(circle at 28% 6%, #00dcc3, #00bba6);
}
#other-cities ul li:nth-child(13) a:before {
  background-image: radial-gradient(circle at 30% 36%,#5594a8, #2ebf91);
}
#other-cities ul li:nth-child(12) a:before {
  background-image: radial-gradient(circle at 50% 36%,#f4992f,#ebc918);
}
#other-cities ul li:nth-child(15) a:before {
  background-image: radial-gradient(circle at 28% 6%, #00dcc3, #00bba6);
}
#other-cities ul li:nth-child(17) a:before {
  background-image: radial-gradient(circle at 30% 36%,#5594a8, #2ebf91);
}
#other-cities ul li:nth-child(18) a:before {
  background-image: radial-gradient(circle at 50% 36%,#f4992f,#ebc918);
}
#other-cities ul li:nth-child(20) a:before {
  background-image: radial-gradient(circle at 28% 6%, #00dcc3, #00bba6);
}
#other-cities ul li:nth-child(23) a:before {
  background-image: radial-gradient(circle at 30% 36%,#5594a8, #2ebf91);
}
#other-cities ul li:nth-child(22) a:before {
  background-image: radial-gradient(circle at 50% 36%,#f4992f,#ebc918);
}
        .COI-preferred {
    position: relative;
    top: 0;
    background: #F7D358;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-top:30px;
     margin-bottom:30px;
    text-transform: uppercase;
    
}
 .COI-self {
    position: relative;
    left: 10px;
    top: 0;
    background: linear-gradient(240deg,indigo,#5939e0);
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    
 }
 h4.little-h4 strong {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2e3d49;
}
.chech-display {
  display: flex;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.new-a {
  line-height: 24px;
  font-size: 13px;
  cursor:pointer;
  text-decoration: none;
  color: #2e3d49;
}
i.fa.fa-check {
  font-size: 8px;
  color: #4f2d7f;
  margin: 0px 6px 7px 10px;
  border-radius: 100%;
  border: 1px solid #4f2d7f;
  padding: 2px;
}
.price-display .btn7 {
  background: #FA5858;
  color: #fff;
  border: 1px solid #FA5858;
  padding: 11px 26px;
  margin: 0px 12px;
  font-weight: 700;
  font-size: 13px;
  transition: .3s;
  border-radius: 3px;
}
#upcoming-batches h2 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 2rem;
}
#upcoming-batches h2:after {
  content: "";
  width: 36px;
  height: 3px;
  background:#056;
  display: block;
  margin-top: 20px;
}
.price-display {
  text-align: center !important;
  font-size: 16px !important;
  display: block !important;
  align-items: baseline;
}
.btn7 {
  background: #FA5858;
  color: #fff;
  border: 1px solid #FA5858;
  padding: 15px;
  margin: 17px;
  font-weight: 700;
  font-size: 18px;
  transition: .3s;
  border-radius: 3px;
  cursor: pointer;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

#upcoming-batches table {
  display: table;
  width: 100%;
  padding: 14px;
  border: 2px solid #F78181;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

button.btn7.new-btn.query-modal-button {
  font-size: 14px;
}
@media only screen and (max-width: 1200px){
#upcoming-batches tbody td {
    font-size: 12px;
    text-align: left;
    padding: 1rem;
    color: rgba(0,0,0,.7);
}}
@media only screen and (max-width: 670px){
#upcoming-batches tbody td {
    font-size: 12px;
    text-align: left;
    padding: 0.1rem;
    color: rgba(0,0,0,.7);
}}
/*Nav bar */
#main-navbar{
  padding-top:20px;
}
@media Screen and (max-width:991px){
  #main-navbar{
    padding:0;
   
  }
}
/* END of Navbar*/

.sticky-query-form {
  position: fixed;
  top: 120px;
  width: 18%;
}
/*Course classroom/online*/
.courseclassroom::after{
    content: "";
      width: 36px;
      height: 3px;
      background: #056;
      display: block;
      margin: 20px 0 0 20px 5px;
      margin-top: 20px;
}

/*Benefits*/
.benefits .benefit-rows li {
  color: #51565e;
}
@media (min-width: 992px){
.benefits p {
    margin-top: 24px !important;
    font-size: 14px;
    line-height: 1.57;
}}

@media (min-width: 992px){
.overview p {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.57;
}}
.overview ul {
  margin-top: 24px;
  margin-bottom: 0;
}
@media (min-width: 992px){
.benefit-rows ul {
    display: flex;
    text-align: center;
    margin-top: 0;
}}

@media (min-width: 992px){
.benefits ul {
    margin-top: 30px;
    list-style:none;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}}


.benefits .benefit-rows li {
    color: #51565e;
}
@media (min-width: 992px){
.benefits li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .4px;
    color: #272c37;
    margin: 0;
    display: inline-block;
    padding: 0;
    width: 100%;
}}
.Benefitsh3:after{
  content: "";
    width: 36px;
    height: 3px;
    background: #056;
    display: block;
    margin: 20px 0 0 20px 5px;
    margin-top: 20px;
}
/*Industry Training*/
@media (min-width: 992px){
.ind-project {
    margin-right: 0;
}}
.ind-project {
    margin-right: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
}
@media (min-width: 992px){
.ind-project h3 {
    margin-bottom: 32px;
    margin-top: 80px;
}}

.ind-project h3 {
    margin-bottom: 24px;
    margin-top: 56px;
}

.ind-project .ul-iners ul {
  margin: 0;
}
.ul-iners ul {
  min-width: 2000px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ul-iners {
    overflow: hidden;
}
@media (min-width: 992px){
.view-more-btn-fixed {
    position: relative;
    overflow: visible;
    margin-top: 50px;
}}
.view-more-btn-fixed {
    text-align: center;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: block;
    width: 80px;
}
@media (min-width: 992px){
.ind-project .ul-iners ul li {
    max-width: 330px;
}}
@media (min-width: 768px){
.ind-project .ul-iners ul li {
    max-width: 320px;
}}
.ind-project .ul-iners ul li {
    padding-bottom: 5px;
    padding-top: 2px;
    margin-right:45px;
}
@media (min-width: 992px){
.ul-iners ul li {
    max-width: 980px;
}}
@media (min-width: 768px){
.ul-iners ul li {
    width: 748px;
    float: left;
}}

@media (min-width: 768px){
.ul-iners ul li {
    max-width: 748px;
}}
.ul-iners ul li {
    position: relative;
    float: left;
}
@media (min-width: 992px){
.ind-project .ul-iners ul li .industy_card div.industy_card-content {
    padding-bottom: 24px;
}}
.industy_card div.industy_card-content {
    background: #ebf1f8;
    padding: 16px 16px 20px;
    border-radius: 4px 4px 0 0;
}
@media (min-width: 992px){
.ind-project .ul-iners ul li .industy_card div.industy_card-content span {
    margin-bottom: 16px;
}}
.industy_card div.industy_card-content span {
    display: inline-block;
    width: 100%;
    line-height: normal;
    margin-bottom: 24px;
    font-size: 14px;
    color: #51565e;
}
.industy_card div.industy_card-content h4 {
  margin: 0;
  line-height: normal;
  font-size: 18px;
  font-weight: 500;
  color: #272c37;
}
.ind-project .ul-iners ul li .card-with-image .industy_card-content+div {
  margin-bottom: 10px;
}

.industy_card .industy_card-content+div {
  margin: 20px 16px 30px;
}
.industy_card p {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 500;
  color: #848da0;
  padding-bottom: 70px;
}
.ind-project .ul-iners ul li .industy_card {
  margin-right: 20px;
  width: 320px;
}
.industy_card {
  border-radius: 4px;
  width: 300px;
  height: 100%;
  border: 1px solid #d2d6de;
  background: #fff;
  display: inline-block;
}
.ind-project .ul-iners ul li .card-with-image img {
  position: absolute;
  bottom: 16px;
  margin: 0;
  left: 16px;
  width: auto;
  height: auto;
}
.ind-project .ul-iners ul li .industy_card img {
  max-height: 60px;
  width: auto;
  margin-bottom: 24px;
}
img.blend-mode[src] {
  filter: alpha(opacity=0);
  animation: simageScroll 0.3s forwards;
  -webkit-animation: simageScroll 0.3s forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.industy_card img {
  margin-left: 16px;
  max-width: 180px;
}
.indprojecth3after:after{
  content: "";
    width: 36px;
    height: 3px;
    background: #056;
    display: block;
    margin: 20px 0 0 20px 5px;
    margin-top: 20px;
}
@media (min-width: 992px){
.view-more-btn-fixed {
    position: relative;
    overflow: visible;
    margin-top: 50px;
}}
.view-more-btn-fixed {
    text-align: center;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: block;
    width: 80px;
}
@media (min-width: 992px){
.view-more-btn-fixed span.c_prev.hide-btn {
    background-position: -127px -76px;
   
}}
@media (min-width: 992px){
.view-more-btn-fixed span.c_prev {
    background-position: -271px -284px;
    left: -58px;
}}
@media (min-width: 992px){
.view-more-btn-fixed span.c_arrow {
    position: absolute;
    width: 38px;
    height: 38px;
    display: inline-block;
    background: #dde6ed;
    border-radius: 50%;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(https://www.simplilearn.com/ice9/assets/course_sprite_7.svgz) no-repeat;
}}
@media (min-width: 992px){
.c_arrow {
    display: block;
}}
.c_arrow {
    display: none;
}
@media (min-width: 992px){
.view-more-btn-fixed span.c_next {
    right: -58px;
    background-position: -327px -284px;
}}
.view-more-btn-fixed .view-more-btn {
  display: table;
  width: 80px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #d8d8d8;
  table-layout: fixed;
  color: transparent;
  font-size: 0;
  line-height: 0;
}
.view-more-btn-fixed .view-more-btn span.active_tab {
  width: 36px;
  height: 4px;
  background-color: #1179EF;
  border-radius: 4px;
}
.view-more-btn-fixed .view-more-btn span {
  display: table-cell;
  min-width: 1px;
  height: 4px;
  cursor: default;
  background-color: transparent;
  vertical-align: middle;
  pointer-events: none;
  background-color: #d8d8d8;
  border-radius: 4px;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
/*SYALLABUS*/
.td-card .icon {
  width: 9rem;
  height: 9rem;
  background-color: #f1f1f1;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  line-height: 9rem;
  margin-bottom: 2.5rem;
}
#td-card:before {
  content: "";
  width: calc(100% - 1px);
  height: 0;
  border-bottom: 1px solid #a461d8;
  position: absolute;
  top: 30%;
  z-index: -1;
} 
@media Screen and (max-width:992px){
  #td-card:before {
    content: ""; 
    height: 0;
    width: 0;
  }
}

.section-title:after{
  content: "";
    width: 36px;
    height: 3px;
    background: #056;
    display: block;
    margin: 20px 0 0 20px 5px;
    margin-top: 20px;
}
.course-curriculum :after{
  content: "";
    width: 36px;
    height: 3px;
    background: #056;
    display: block;
    margin: 20px 0 0 20px 5px;
    margin-top: 20px;
}

/*Related Courses*/
@media (min-width: 992px){
.related-courses {
    padding-bottom: 56px;
}}
.related-courses {
    background: #ebf1f8;
    padding-bottom: 56px;
}
.related-courses h2 {
  margin-bottom: 32px;
}
@media (min-width: 992px){
.related-courses .ul-iners ul li {
    width: 340px;
}}
.related-courses .ul-iners ul li {
    width: 320px;
    margin-right: 50px;
}
@media (min-width: 992px){
.ul-iners ul li {
    max-width: 980px;
}}
@media (min-width: 768px){
.ul-iners ul li {
    width: 748px;
    float: left;
}}
@media (min-width: 768px){
.ul-iners ul li {
    max-width: 748px;
}}
.ul-iners ul li {
    position: relative;
    float: left;
}
.related-courses li.c_index_2 a.cp-list:before {
  background-image: radial-gradient(circle at 28% 36%, #a889f2, #8661df);
}
.related-courses li.c_index_2 a.cp-list:nth-child(2):before {
  background-image: radial-gradient(circle at 29% 37%, #ed82cb, #d550ab);
}
.related-courses li.c_index_3 a.cp-list:before {
  background-image: radial-gradient(circle at 28% 36%, #6dd079, #5fa527);
}
@media (min-width: 992px){
.related-courses .ul-iners ul li a {
    width: 310px;
}}
.related-courses .ul-iners ul li a {
    display: inline-block;
    width: 340px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgb(197 208 216 / 20%);
    border-radius: 4px;
    text-decoration: none;
}
@media (min-width: 992px){
.related-courses a.mp-list {
    padding-bottom: 85px;
}}
.related-courses a.mp-list {
    padding-bottom: 62px;
    position: relative;
    height: 100%;
}
@media (min-width: 992px){
.related-courses li a.mp-list .img_th_bundle {
    height: 85px;
}}
.related-courses li a.mp-list .img_th_bundle {
    text-align: center;
    border-radius: 4px 4px 0 0;
}
.related-courses a.mp-list .img_th_bundle, .related-courses a.mp-list .img_th_bundle span {
    background-image: radial-gradient(circle at 28% 36%, #ff9195, #ff5d63);
}
@media (min-width: 992px){
.related-courses li a.mp-list .img_th_bundle span {
    height: 90px;
    width: 90px;
    top: 30px;
}}
.related-courses li a.mp-list .img_th_bundle span {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50px;
}
.related-courses a.mp-list .img_th_bundle, .related-courses a.mp-list .img_th_bundle span {
    background-image: radial-gradient(circle at 28% 36%, #ff9195, #ff5d63);
}
@media (min-width: 992px){
.related-courses a.mp-list span {
    font-size: 16px;
    bottom: 24px;
}}
.related-courses a.mp-list span {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    font-weight: normal;
    color: #848da0;
}
@media (min-width: 992px){
.related-courses li a.mp-list .img_th_bundle span img {
    left: -8.6px;
    top: -7px;
}}
.related-courses li a.mp-list .img_th_bundle span img {
    width: 120%;
    position: relative;
    top: -2px;
    max-width: 120%;
}
img.blend-mode[src] {
    filter: alpha(opacity=0);
    animation: simageScroll 0.3s forwards;
    -webkit-animation: simageScroll 0.3s forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
@media (min-width: 992px){
.related-courses a.mp-list .sub-heading {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 54px;
    line-height: 1.4;
    min-height: 56px;
}}
.related-courses a.mp-list .sub-heading {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 52px;
    font-size: 20px;
    line-height: 1.29;
    color: #272c37;
    font-weight: 400;
    min-height: 36px;
}
@media (min-width: 992px){
.related-courses a.mp-list span.meta-text {
    right: 20px;
}
}
.related-courses a.mp-list span.meta-text {
    right: 10px;
}
@media (min-width: 992px){
.related-courses a.mp-list span {
    font-size: 16px;
    bottom: 24px;
}}
.related-courses a.mp-list span {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    font-weight: normal;
    color: #848da0;
}
@media (min-width: 992px){
.related-courses a.mp-list span.meta-name {
    left: 20px;
}}
.related-courses a.mp-list span.meta-name {
    left: 10px;
}
@media (min-width: 992px){
.related-courses a.mp-list span {
    font-size: 16px;
    bottom: 24px;
}}
.related-courses a.mp-list span {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    font-weight: normal;
    color: #848da0;
}
@media (min-width: 992px){
.related-courses a.cp-list {
    padding: 20px 30px;
    height: 127px;
    margin-bottom: 29px;
}}
.related-courses a.cp-list {
    height: 85px;
    border-radius: 4px;
    padding: 12px 20px 12px 24px;
    position: relative;
    margin-bottom: 20px;
}
.related-courses li.c_index_1 a.cp-list:before {
  background-image: radial-gradient(circle at 38% 32%, #f4c652, #d2ac00);
}
.related-courses li.c_index_1 a.cp-list:nth-child(2):before {
  background-image: radial-gradient(circle at 28% 36%, #00dcc3, #00bba6);
}
@media (min-width: 992px){
.related-courses a.cp-list::before {
    width: 6px;
    height: 60px;
}}
.related-courses a.cp-list::before {
    content: "";
    width: 4px;
   
    position: absolute;
    left: 0;
    top: 12px;
}
@media (min-width: 992px){
.related-courses a.cp-list div {
    font-size: 20px;
    line-height: 1.35;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}}
.related-courses a.cp-list div {
    font-size: 14px;
    line-height: 1.29;
    color: #272c37;
}
@media (min-width: 992px){
.related-courses a.cp-list span {
    font-size: 16px;
    left: 30px;
    bottom: 16px;
}}
.related-courses a.cp-list span {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 12px;
    font-weight: normal;
    color: #848da0;
}
@media (min-width: 992px){
.related-courses a.cp-list span.learners {
    left: inherit;
    right: 20px;
}}
.related-courses a.cp-list span.learners {
    left: inherit;
    right: 15px;
}
@media (min-width: 992px){
.related-courses a.cp-list span {
    font-size: 16px;
    left: 30px;
    bottom: 16px;
}}



